.photo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: start;
}

h2 {
    /* font-family: 'Nunito'; */
    font-family: 'Montserrat';
    color: #2b2b2b;
    align-self: flex-start;
    margin-bottom: 0px;
}
